.footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 30rem;

}

.wp-logo {
    max-width: 200px;
    align-items: start;
    padding-left: 10px
}
